body {
  padding: 10%;
  background-image: url('images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.container {
  padding: 2% 5% 2% 5%;
  min-height: 60vh;
  min-width: 35vw;
  background-color: rgb(254, 247, 252);
  border-radius: 35px;
  border: 10px double rgba(60, 183, 197, 0.2);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(30, 25, 25, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title {
  text-align: center;
  color: rgba(50, 125, 122, 0.623);
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
  font-size: 3vw;
}
.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}

#taskInput {
  padding: 3%;
  text-align: start;
  width: 500px;
  border: 2px solid lightgrey;
  border: 2px solid rgba(99, 216, 212, 0.586);
  border-radius: 999px;
  margin-right: 1%;
}
#taskInput:focus {
  background-color: rgba(128, 128, 128, 0.1);
  border: 2px solid lightgrey;
  outline: none;
  border: 2px solid rgba(99, 216, 212, 0.586);
  /* border: none; */
}
#taskInput:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
#addBtn {
  background-color: antiquewhite;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#addBtn:hover {
  background-color: rgb(237, 190, 212);
}

#taskInput {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.2vw;
}
.task-taps {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  color: rgba(42, 158, 152, 0.623);
  display: flex;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.task-taps .btn {
  padding: 1em;
  background-color: transparent;
}

.task-taps .selected {
  background-color: antiquewhite;
}
#underline {
  height: 4px;
  width: 65px;
  background-color: rgb(72, 212, 212);
  position: absolute;
  left: 0px;
  padding: 0px;
  transition: 0.5s;
}
.task {
  margin: 0.7em 0;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  height: 3em;
  border: 3px solid rgb(231, 231, 231);
  border-radius: 20px;
  align-items: center;
}
.plan {
  font-weight: bold;
  color: rgba(42, 158, 152);
}
.color-change {
  background-color: rgba(128, 128, 128, 0.318);
}
.task-done {
  text-decoration: line-through;
}

.btn {
  cursor: pointer;
}
.btn:hover {
  background-color: antiquewhite;
  transition: 0.5s;
}
button {
  border: none;
  background-color: transparent;
}
.task-taps .btn:hover {
}
@media screen and (max-width: 80rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-size: 5vw;
  }
  .input-area {
    margin: 0 0 4% 0;
  }
  #taskInput {
    height: 4vh;
    font-size: 3vw;
    padding: 2%;
  }
}
